body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.res{
    font-size: 23px;
    font-weight: 500;
    text-transform: capitalize;
}
@media screen and (max-width:1440px) {
    body{
        background-color: red;
    }
}
@media screen and (max-width:1000px) {
    body{
        background-color:blue;
    }
}
@media screen and (max-width:720px) {
    body{
        background-color:yellow;
    }
}
@media screen and (max-width:480px) {
    body{
        background-color: skyblue;
    }
}
  
